body {
    /* text-transform: capitalize; */
margin: 0px;
padding: 0px;
    /* box-shadow: 0px 4px 4px 0px rgba(5, 0, 0, 0.25); */
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 400; */
}
nav{
    background-color: #252B42;
    /* border: 2px solid white; */
    /* margin: 4px; */
    z-index: 5;  font-family: 'Montserrat', sans-serif;
    height: 50px;
position: fixed;
/* top: 10px; */
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
width: 100%;
}
.nav{
    /* border: 2px solid red; */
    margin: 4px;
    height: 40px;
    width:390px;
    /* position: relative; */
    top: 0px;
    justify-content: center;
    display: inline-block;
}
.logo{
    color: white;
    font-weight: 700;
    position: absolute;
    top: 0px;
    padding-left: 165px;
}
.navul{
/* border: 2px solid yellow; */
margin-left: -30px;
    position: absolute;
    top: 0px;
    text-align: center;
    /* border: 2px solid green; */
    margin-left: 30px;
}
/* margin: auto; */
.navul > li {
  
    display: inline-block;
    color: white;
    text-align: left;
    /* border: 2px solid green; */
    /* margin-left: -30px; */
    justify-content: left;
}
.navul > li > a{
    /* border: 2px solid red; */
    text-align: center;
    /* justify-content: left; */
    /* padding-left:  -20px; */
    display: inline-block;
    color: white;
    font-weight: 600;
    /* padding-left: 1px; */
    text-decoration: none;
  
}
.nb{
    position: absolute;
    top: 0px;
    padding-left:82px;
}
.um{
    background-color: #23A6F0;
    color: white;
    outline: none;
    border: 1px solid  #23A6F0;
    border-radius: 3px;
    width: 100px;
    padding: 10px;
    margin-top: 7px;
}
.u{
    background-color: #252B42;
    color: white;
    outline: none;
    border: 1px solid  #252B42;
    border-radius: 3px;
    width: 100px;
    padding: 10px;
    margin-top: 7px;
}
.main {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 699px; */
    flex-direction: column;
    align-items: center;
    margin: auto;    background: var(--dark-background-color, #252B42);
    text-align: center;
    /* border: 1px solid red; */
    /* padding: 40px; */
}

h2 {
    /* border: 2px solid hotpink; */
    color: var(--light-text-color, #FFF);
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Montserrat;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 80px; */
    /* 137.931% */
    /* letter-spacing: 0.2px; */
}

.p1 {
    color: var(--primary-color, #23A6F0);
    /* h5 */
    /* padding-top: 20px; */
    /* font-family: Montserrat; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
/* border: 1px solid red; */
    /* line-height: 24px; */
    /* 150% */
    letter-spacing: 0.1px;
}

.p2 {
    /* color: var(--light-text-color, #FFF); */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: white;
    /* border: 1px solid red; */
    margin-top: -30px;

}

.main>button {
    display: inline-block;
}

.b1 { font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    background: var(--primary-color, #23A6F0);
    padding: 15px 40px;
    /* flex-direction: column; */
    /* align-items: center; */
    gap: 10px;
    border: none;
    color: white;    box-sizing: border-box;
}

.b2 {
    border-radius: 5px;
    color: #23A6F0;font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: transparent;
    padding: 15px;
    border: 1px solid #23A6F0;    box-sizing: border-box;
}
li{
    color: black;
}
.card
{
    background: var(--light-background-color, #FFF);
padding:5px 10px;
height: 220px;
/* accentued-drop-shadow */
box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
width: 250px;
/* padding: 35px 40px; */
/* border: 2px solid maroon; */
margin: 15px;
/* align-items: flex-start; */
/* gap: 20px; */
}
.c{
padding:60px 105px ;
/* padding-right: 105px; */
    display: flex;
    flex-direction: row;


}
.card > img{
    /* border: 2px solid red; */
    display: flex;
    /* opacity: 0.2; */
    /* background-color: #E74040; */
    /* color: white; */

}
.card > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
}
.dp{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-style: normal;
    /* border: 2px solid red; */
    /* color: rgb(55, 54, 54); */
}
.dash{
    width: 50px;
height: 2px;
background: var(--danger-color, #E74040);

}
#red{
    background-color: #23A6F0;
    color: white;
}
.sec{
    position: relative;
    /* display: inline-block; */
    display: flex;
    /* width: 1440px; */
  
    padding: 120px 180px;
    justify-content: center;
    align-items: center;
}
.sec1{
    /* display: inline-block; */
    /* display: flex; */
/* width: 1050px; */
/* padding: 160px 0px; */
/* flex-direction: column; */
/* align-items: center; */
/* flex-shrink: 0; */
/* border: 2px solid blue; */

width: 100%;
}
.sec1 > h2{
    color: var(--text-color, #252B42);

font-size: 40px;
font-style: normal;
font-family: 'Montserrat', sans-serif;
/* text-transform: capitalize; */
text-align: left;
font-weight: 700;
line-height: 50px; /* 125% */
letter-spacing: 0.2px;
}
.abb{
    background-color: white;
    border: none;
    outline: none;
    color: #23A6F0;
    padding: 5px;
}
.sec2{
    position: relative;
    display: inline-block;
    /* margin-left: -20px; */
}
.secp{
    color: black;
}
#ai2{
/* margin-left: -130px; */
position: absolute;
left: -120px;
top: 0px;
}
#ai3{
    position: absolute;
    bottom: -40px;
    left: -120px;
}
#ai4{
    margin-left: 30px;
    position: absolute;
    bottom: 0px;
}
.vid{
    /* border: 2px solid red; */
    /* display: flex; */
    /* width: 100%; */
    padding: 0px 178px;
    justify-content: center;
    align-items: center;}
    .vid2{
        /* width: 1320px; */
        /* padding: 0px 145px; */
        /* border: 2px solid green; */
        margin-top: 70px;
        height: 400px;
    }
    .cardv{
        /* border: 2px solid red; */
        display: inline-block;
        position: relative;        /* flex-shrink: 0; */
        width: 210px;
        height: 310px;
        /* box-sizing: border-box; */

    }
    .cardv > img{
        position: relative;
        width: 208px;
height: 310px;
        box-sizing: border-box;
    }
    .vid > p{
        color: var(--primary-text-color, #23A6F0);
/* h6 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
/* line-height: 24px; 171.429% */
letter-spacing: 0.2px;
    }
    .vid > h1{
        color: var(--text-color, #252B42);

/* h2 */
/* font-family: Montserrat; */
font-size: 40px;
font-style: normal;
font-weight: 700;
/* line-height: 50px; 125% */
letter-spacing: 0.2px;
    }
    .pv{
        display: inline-block;
        color: white;
padding: 0px 10px;
text-align: center;
border-radius: 3px;
position: absolute;
/* top: 0px; */
text-align: left;
left: 10px;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);

        background-color: #E74040;
    }

    #small{
        background-color: white;
        position: relative;
        bottom: 50px;
        /* left: 40px; */
        /* padding: 5px; */
z-index: 2;

height: 15px;
width: 10px;
display: flex;
justify-content: center;
width: 30px;
height: 30px;
text-align: center;
margin: auto;
left: 60px;
border-radius: 30px;
/* flex-direction: row; */
padding: 10px;
        display: inline-block;
    }
    .rev{
/* border: 2px solid blue; */
display: inline-block;
position: relative;
top: -90px;
width: 210px;
height: 310px;

}
li{
    list-style: none;
}
.lb{
    border: 1px solid #23A6F0;
    color: #23A6F0;
    padding: 5px;
    /* background-color: white; */
border-radius: 15px;
margin-top: 5px;
width: 120px;
}
.test{
    border: 2px solid white;
    height: 400px;
    /* width: 100%; */
    margin: auto;
    padding: 0px 195px;
    border: none;
    outline: none;
    margin-top: -230px;
}

.t{
    padding: 190px 0px;
margin-left: -20px;
    /* padding: -150px; */
    width: 920px;

    /* border: 2px solid red; */
    /* height: 400px; */
}

.t > p{
    color: #23A6F0;
    font-weight: 600;
}
.t > h2{
    color: #252B42;
    font-weight: 600;
    text-align: left;font-size: 40px;
}
.t > .p{
    /* border: 2px solid red; */
    color:#737373;
}
.tes{
/* border: 2px solid blue; */
height: 200px;
width: 150px;
display: inline-block;
padding: 25px 25px 0px 25px;
width: 42%;
justify-content: center;
margin: auto;
align-items: center;
}
.te{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin-left: 10px; */
margin: auto;
margin-top: -70px;
align-items: center;
}
.timg{
    width: 128px;
height: 128px;
margin-left: 120px;
border-radius: 50%;
}
.tp{
    color: #737373;
    font-size: 14px;
    text-align: center;
    padding: 30px;
    font-weight: 600;
    /* border: 2px solid red; */
}
.star{
    /* border: 2px solid green; */
    text-align: center;
    margin-top: -40px;
}
.tesp{
    color: #737373;
    font-weight: 540;
}
.last{
    /* border: 2px solid gray; */
    height: 500px;
    /* margin-top: 140px; */
    /* position: absolute; */
    /* top: 780px; */
}
.las{
    /* background-color: #252B42; */
    height: 400px;
    /* margin-top: 140px; */
    padding-top: 160px;
    text-align: center;
    padding-bottom: 145px;
}
.lap{
    font-size: 14px;
    color: #23A6F0;
}
.las > h2{
   color:  #252B42;font-family: Montserrat;
}
.lasp{
    color: #737373;
    font-weight: 600;
    /* margin-top: -40px; */
}
.inp{
    /* box-sizing: border-box; */
    /* border-radius: 5px; */
    /* border: 2px solid white; */
    outline: 2px solid white;
    border: 1px solid white;
    background: #f4f4f48d;
    /* width: 360px; */
    padding: 15px 591px 15px 30px;
}
.subs{
   background-color:  #23A6F0;
   box-sizing: border-box;
   border: none;
   color: white;
    padding: 15px 22.5px;
    margin-left: -5px;
    height: 47px;
}
footer{
    background-color: #252B42;
    height: 338px;
    padding: 0px 195px;
color: wheat;
}
.footer
{
    display: flex;
    padding: 80px 0px;
}
.df{
    padding-right:35px ;
    /* border: 2px solid red; */
    height: 150px;
    width: 271px;
}
.df > li{
    font-size: 13px;
    color: white;
    font-weight: 600;
    line-height: 34px; /* 171.429% */
letter-spacing: 0.2px;

}
.df >p{
    font-weight: 600;
    color: white; font-size: 13px;
}
.df > svg{
    padding: 5px;
}
.df >h3{
    color: white;
    font-weight: 600;
}
#h6{
    text-align: center;

}
.tp{
    /* position: absolute; */
    height: 40px;

}
.btnf{
    height: 0px;
    display: none;
}
#tq{
    top: 450px;
    right: 0px;
    position: fixed;
}
 /* li { */
    /* padding: 10px; */
    /* border: 2px solid red; */
/* } */
.rev > ul > li{
    padding-top: 15px;
} 
.lb{
    padding: 10px;
}
.lb:hover{
color: #23A6F0;
background-color: white;
border: 1px solid white;
}
button:hover{

    transform: scale(1.1);
}
button{
    transition:0.2s transform ease-in-out;
}
a:hover{
    /* padding: 3px; */
    background-color: #23A6F0;

}
a{padding: 3px;
border-radius: 5px;}